:root {
  --main-name-color: #6e6893;
  --main-text-color: #25213b;
  --accent-btn-color: #6d5bd0;
  --light-text-color: #ffffff;
  --table-border-color: #c6c2de;
  --container-color: #f2f0f9;
  --unknown-color: #f4f2ff;

}